@font-face {
    font-family: "cc-icons";
    src: url("./cc-icons.woff2?d37822ae9774bf6830e6ee3b65cb0de8") format("woff2");
}

i[class^="ico-cc-"]:before, i[class*=" ico-cc-"]:before {
    font-family: cc-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-cc-by:before {
    content: "\f101";
}
.ico-cc-cc:before {
    content: "\f102";
}
.ico-cc-copy:before {
    content: "\f103";
}
.ico-cc-nc:before {
    content: "\f104";
}
.ico-cc-nd:before {
    content: "\f105";
}
