.17_34 { 
	overflow:hidden;
}
.e17_34 { 
	background-color:rgba(255, 255, 255, 1);

	position:absolute;
}
.e13_30 { 
	width:1920px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_17 { 
	background-color:rgba(62.88672052323818, 62.59325847029686, 61.83860756456852, 1); */
	width:1920px;
	height:147px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_18 { 
	color:rgba(0,0,0, 1);
	
	
	left:214px;
	top:57px;

	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e13_19 { 
	color:rgba(0,0,0, 1);

	left:334px;
	top:57px;

	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e17_39 { 
	background-color:rgba(130.88671267032623, 18.542284928262234, 18.542284928262234, 1);
	width:585px;
	height:727px;
	position:absolute;
	left:94px;
	top:264px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e17_40 { 
	color:rgba(0, 0, 0, 1);
	width:393px;
	height:44px;
	position:absolute;
	left:786px;
	top:264px;
	font-family:League Spartan;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e17_47 { 
	width:1000px;
	height:272px;
	position:absolute;
	left:786px;
	top:334px;
}
.e17_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.17_41 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_45 { 
	color:rgba(0, 0, 0, 1);
	width:219px;
	height:29px;
	position:absolute;
	left:94px;
	top:35px;
	font-family:League Spartan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_44 { 
	transform: rotate(-60.00000080471941deg);
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:16px;
	top:49.641021728515625px;
}
.e17_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:173px;
	position:absolute;
	left:0px;
	top:99px;
}
.17_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_46 { 
	color:rgba(0, 0, 0, 1);
	width:968px;
	height:120px;
	position:absolute;
	left:16px;
	top:117px;
	font-family:League Spartan;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e17_48 { 
	width:1000px;
	height:100px;
	position:absolute;
	left:786px;
	top:631px;
}
.e17_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.17_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_50 { 
	color:rgba(0, 0, 0, 1);
	width:271px;
	height:29px;
	position:absolute;
	left:94px;
	top:35px;
	font-family:League Spartan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_51 { 
	transform: rotate(-29.000002075756612deg);
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:16px;
	top:42.39239501953125px;
}
.e17_52 { 
	width:1000px;
	height:100px;
	position:absolute;
	left:789px;
	top:756px;
}
.e17_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.17_53 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e17_54 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:29px;
	position:absolute;
	left:94px;
	top:35px;
	font-family:League Spartan;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e17_55 { 
	transform: rotate(-29.000002075756612deg);
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:16px;
	top:42.39239501953125px;
}
.e78_42 { 
	width:90px;
	height:90px;
	position:absolute;
	left:104px;
	top:166px;
}
.e78_41 { 
	border-radius:500px;
	background-color:rgba(144.69921469688416, 144.69921469688416, 144.69921469688416, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}
.e78_40 { 
	transform: rotate(180deg);
	width:59px;
	height:0px;
	position:absolute;
	left:74px;
	top:45px;
}
.78_40 { 
	border:7px solid rgba(0, 0, 0, 1);
}
